services:
  bot:
    image: satamanchuk/alexbot
    container_name: alexbot
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - AI_KEY=${AI_KEY}

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=30
    command: alexbot
